{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CZ PLAST s.r.o. | LFAM</title>
        <link rel="icon" type="image/x-icon" href="">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'printing/styles.css' %}">
    </head>
    <body style="background-color: rgb(84, 134, 64); color: white;">
        <div class="d-flex justify-content-center p-3">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>